:root {
  --mars-color: #cdbc9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: courier, monospace;
}
body {
  background-color: rgb(20, 3, 3);
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  background-color: rgba(36, 36, 36, 0.816);
  position: relative;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: block;
  list-style: none;
  color: var(--mars-color);
  font-weight: bold;
  margin: 0 1rem;
}

.top {
  position: absolute;
  list-style: none;
  color: var(--mars-color);
  font-weight: bold;
  margin: 0 1rem;
}

a:visited {
  display: none;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  color: var(--mars-color);
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--mars-color);
  left: 0;
  bottom: 0.01em;
  border-radius: 0.1rem;
  transform: scaleX(0);
  transition: transform 0.3s;
}

a:hover::after {
  transform: scaleX(1);
}

.introduction {
  text-align: center;
  color: var(--mars-color);
  margin-bottom: 1rem;
}

.section {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 2em;
  margin: 1em;
}
img {
  max-width: 25%;
  border-radius: 2%;
}
p {
  color: var(--mars-color);
  padding: 1em;
}
h1 {
  color: var(--mars-color);
  padding: 1em;
}

p {
  color: var(--mars-color);
  padding: 3em;
  /* letter-spacing: 1px; */
  line-height: 1.8;
}
h1 {
  color: var(--mars-color);
  padding: 1em;
}
h2 {
  padding: 3em;
}
